---
import { Home, Projects, Pills } from '../components'
import MySiteLayout from '../layouts/MySiteLayout.astro'
import { SITE, INFO, PROJECTS, TECH } from '../../config'
---

<html lang="en" >
  <head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="generator" content={Astro.generator}/>
    <link rel="stylesheet" href="../../static/styles/reset.css">
    <link rel="stylesheet" href="../../static/styles/styles.css">
    <link rel="stylesheet" href="../../static/styles/theme-vars.css">
    <title>{SITE.title}</title>
  </head>

  <body>
    <MySiteLayout>
      <Home
      title={SITE.author}
      photo= {INFO.photo}
      subtitle={INFO.position}
      bio = {INFO.bio} />
      <Projects projects={PROJECTS} />
      <Pills technologies={TECH}/>
    </MySiteLayout>

  </body>
</html>
